/* Social Icons */
.social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.social-icons .fa-facebook:hover {
    color: #b0b0b0;
}

.social-icons .fa-google:hover {
    color: #b0b0b0;
}